<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>getUrlByTags</title>
</head>
<body>
<button onclick="getData()">getUrlByTags</button>
    <div id="data"></div>

    <script>
        function getData(data) {
            // 替换为您的 Lambda 函数 URL
            // var url = 'https://hn3clukq2ir4cmogineomvkoem0uhswd.lambda-url.us-east-1.on.aws/'
            var url = 'https://1eqc42irql.execute-api.us-east-1.amazonaws.com/dev/api/getUrlsByTags'
            var data= {
                  "parameters": {
                    "tags": [
                      {
                        "tag": "person",
                        "count": 2
                      }
                    ]
                  }
                }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
            .then(data => console.log(data))
        }
    </script>
</body>
</html>