<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>getUrlByTags</title>
</head>
<body>
<button onclick="getData()">getUrlByTags</button>
    <div id="data"></div>

    <script>
        function getData(data) {
            var url = 'https://92dso1b1yl.execute-api.us-east-1.amazonaws.com/dev/geturlsbytags'
            var data= {
                  "parameters": {
                    "tags": [
                      {
                        "tag": "person",
                        "count": 1
                      }
                    ]
                  }
                }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
            .then(data => console.log(data))
        }
    </script>
</body>
</html>